<div class="container-fluid" style="background: #222;">
    <div class="col-md-10 col-md-offset-1">
        <div id="property-grid-module-2" class="houzez-module property-grid-module grid">
            <div class="module-title-nav clearfix">
                <div>
                    <h3 class="color-white">Featured Getaways</h3>
                    <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
                <div class="module-nav">
                    <a href="#" class="btn btn-carousel btn-sm">All</a>
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-md-6 col-sm-12">
                    <div class="figure-grid item-thumb" style="background-image: url(<%= image_path("stock/2.jpg", alt: "Banner Image") %>);">
                        <span class="label-featured label label-success">Featured</span>
                        <a href="#" class="hover-effect"></a>
                        <ul class="actions">
                            <li>
                                <span data-original-title="Favorite" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-heart-o"></i></span>
                            </li>
                            <li class="share-btn">
                                <div class="share_tooltip fade">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                </div>
                                <span data-original-title="share" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-share-alt"></i></span>
                            </li>
                        </ul>
                        <div class="detail">
                            <div class="fig-title clearfix">
                                <h3 class="pull-left">Keyword Category</h3>
                            </div>
                            <ul class="list-inline">
                                <li class="cap-price">$00.00</li>
                                <li>city, country</li>
                                <li> <div class="rating">
                                                                <span class="bottom-ratings"><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span style="width: 70%" class="top-ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></span>
                                                                <span class="star-text-right">15 Ratings</span>
                                                            </div></li>   
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="figure-grid item-thumb" style="background-image: url(<%= image_path("stock/5.jpg", alt: "Banner Image") %>);">
                        <span class="label-featured label label-success">Featured</span>
                        <a href="#" class="hover-effect"></a>
                        <ul class="actions">
                            <li>
                                <span data-original-title="Favorite" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-heart-o"></i></span>
                            </li>
                            <li class="share-btn">
                                <div class="share_tooltip fade">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                </div>
                                <span data-original-title="share" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-share-alt"></i></span>
                            </li>
                        </ul>
                        <div class="detail">
                            <div class="fig-title clearfix">
                                <h3 class="pull-left">Keyword Category</h3>
                            </div>
                            <ul class="list-inline">
                                <li class="cap-price">$00.00</li>
                                <li>city, country</li>
                                <li> <div class="rating">
                                                                <span class="bottom-ratings"><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span style="width: 70%" class="top-ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></span>
                                                                <span class="star-text-right">15 Ratings</span>
                                                            </div></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="figure-grid item-thumb" style="background-image: url(<%= image_path("stock/3.jpg", alt: "Banner Image") %>);">
                        <span class="label-featured label label-success">Featured</span>
                        <a href="#" class="hover-effect"></a>
                        <ul class="actions">
                            <li>
                                <span data-original-title="Favorite" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-heart-o"></i></span>
                            </li>
                            <li class="share-btn">
                                <div class="share_tooltip fade">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                </div>
                                <span data-original-title="share" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-share-alt"></i></span>
                            </li>
                        </ul>
                        <div class="detail">
                            <div class="fig-title clearfix">
                                <h3 class="pull-left">Keyword Category</h3>
                            </div>
                            <ul class="list-inline">
                                <li class="cap-price">$00.00</li>
                                <li>city, country</li>
                                <li> <div class="rating">
                                                                <span class="bottom-ratings"><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span style="width: 70%" class="top-ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></span>
                                                                <span class="star-text-right">15 Ratings</span>
                                                            </div></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="figure-grid item-thumb" style="background-image: url(<%= image_path("stock/4.jpg", alt: "Banner Image") %>);">
                        <span class="label-featured label label-success">Featured</span>
                        <a href="#" class="hover-effect"></a>
                        <ul class="actions">
                            <li>
                                <span data-original-title="Favorite" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-heart-o"></i></span>
                            </li>
                            <li class="share-btn">
                                <div class="share_tooltip fade">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                </div>
                                <span data-original-title="share" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-share-alt"></i></span>
                            </li>
                        </ul>
                        <div class="detail">
                            <div class="fig-title clearfix">
                                <h3 class="pull-left">Keyword Category</h3>
                            </div>
                            <ul class="list-inline">
                                <li class="cap-price">$00.00</li>
                                <li>city, country</li>
                                <li> <div class="rating">
                                                                <span class="bottom-ratings"><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span style="width: 70%" class="top-ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></span>
                                                                <span class="star-text-right">15 Ratings</span>
                                                            </div></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="figure-grid item-thumb" style="background-image: url(<%= image_path("stock/6.jpg", alt: "Banner Image") %>);">
                        <span class="label-featured label label-success">Featured</span>
                        <a href="#" class="hover-effect"></a>
                        <ul class="actions">
                            <li>
                                <span data-original-title="Favorite" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-heart-o"></i></span>
                            </li>
                            <li class="share-btn">
                                <div class="share_tooltip fade">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                </div>
                                <span data-original-title="share" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-share-alt"></i></span>
                            </li>
                        </ul>
                        <div class="detail">
                            <div class="fig-title clearfix">
                                <h3 class="pull-left">Keyword Category</h3>
                            </div>
                            <ul class="list-inline">
                                <li class="cap-price">$00.00</li>
                                <li>city, country</li>
                                <li> <div class="rating">
                                                                <span class="bottom-ratings"><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span style="width: 70%" class="top-ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></span>
                                                                <span class="star-text-right">15 Ratings</span>
                                                            </div></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="figure-grid item-thumb" style="background-image: url(<%= image_path("stock/7.jpg", alt: "Banner Image") %>);">
                        <span class="label-featured label label-success">Featured</span>
                        <a href="#" class="hover-effect"></a>
                        <ul class="actions">
                            <li>
                                <span data-original-title="Favorite" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-heart-o"></i></span>
                            </li>
                            <li class="share-btn">
                                <div class="share_tooltip fade">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                </div>
                                <span data-original-title="share" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-share-alt"></i></span>
                            </li>
                        </ul>
                        <div class="detail">
                            <div class="fig-title clearfix">
                                <h3 class="pull-left">Keyword Category</h3>
                            </div>
                            <ul class="list-inline">
                                <li class="cap-price">$00.00</li>
                                <li>city, country</li>
                                <li> <div class="rating">
                                                                <span class="bottom-ratings"><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span style="width: 70%" class="top-ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></span>
                                                                <span class="star-text-right">15 Ratings</span>
                                                            </div></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
