<div id="page">
  <%= render "header" %>
  <%= render "sidebar" %>
  <%= render "split_pane_bg" %>
 
  <!-- main Content -->
  <%= render "right_pane_header" %>
  <%= render "design_sg_content" %>
</div>
<%= render "mobile_menu" %>
